/InventoryProject/.idea
/InventoryProject/.vs
/InventoryProject/Binaries
/InventoryProject/DerivedDataCache
/InventoryProject/Intermediate
/InventoryProject/Saved
/InventoryProject/*.vsconfig
/InventoryProject/*.sln
